form {
    width: 100%;
    padding:20px 0px;
    text-align: center;

    input,
    textarea{
        padding: 5px;
        margin: 5px;
        background-color: $color-light-grey;
        border-style: none;
        width:400px;
        font-family: $main-font-family
    }

    ::-webkit-input-placeholder {
        font-size: $font-size-smallest;
        color: $color-green;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-size: $font-size-smallest;
        color: $color-green;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        font-size: $font-size-smallest;
        color: $color-green;
    }

    :-ms-input-placeholder {
        font-size: $font-size-smallest;
        color: $color-green;
    }

    .as-input{
        padding: 5px;
        margin: 5px auto 10px auto;
        background-color: #eeeeee;
        border-style: none;
        width: 400px;
        font-family: "Prompt", sans-serif;
    }
    .as-placeholder {
        font-size: $font-size-smallest;
        color: $color-light-green;
        vertical-align: top;
    }

    button{
        background-color: $color-light-grey;
        border-style: solid;
        border-width: 1px;
        padding: 5px;

        &:hover{
            background-color: $color-white;
        }

    }

}

form.search-form{
    button {
        background-color: $color-blue;
        border: none;
        padding: 0px;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
    }

    input{
        height: 24px;
    }

    input.search-input{
        margin: 0 0 5px 0;
        max-width: 100px;
        border: 0px;
    }
}
